* {
    font-family: Arial;
    color: white;
    text-shadow: 0 0 5px white;
    text-align: center;
}

html {
    background: url("images/background.png");
    background-position: center;
    background-size: cover;

    overflow-x: hidden;
}

body {
    background: rgba(0, 0, 0, 0.5);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    min-height: 100vh;

    margin: 0px;
    padding: 0px;
}

.card {
    background: black;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 50px 0;
    padding: 10px;
    border-radius: 50px;
    
    box-shadow: 0 0 50px darkviolet;
}

.citation {
    font-style: oblique;
}

img {
    width: 150px;
    border-radius: 100%;
}

hr {
    width: 100%;
}

p {
    display: inline;
}

.social {
    display: flex;
    
    height: 55px;
}

.social-icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    width: 50px;
    height: 50px;
    
    margin: 5px;
    
    filter: drop-shadow(0 0 1.5px whitesmoke);

    font-size: 0;
}

.social-telegram {
    background-image: url("images/telegram.png");
}

.social-discord {
    background-image: url("images/discord.png");
}

.social-vk {
    background-image: url("images/vk.png");
}

.social-github {
    background-image: url("images/github.png");
}

.thankstext {
    color: #ffffffba;
    text-shadow: none;
}

/* DivLinks */
.divlinks {
    background: rgba(123, 0, 175, 0.9);
    border: 1px solid darkviolet;
    padding: 5px;
    box-shadow: 0 0 7px darkviolet;
    border-radius: 7px;
}
.divlinks-title {
    font-size: 125%;
}

header {
    display: flex;
    width: 90%;
    justify-content: flex-end;
}

.theme-switcher {
    width: 120px;
    height: 50px;

    background-color: black;
    border-radius: 30px;
    box-shadow: 0 0 5px darkviolet;
    cursor: pointer;

    position: absolute;
    display: flex;
    flex-direction: row;

    right: 3%;
    top: 5%;

    font-size: 0;
}

.theme-switcher-knob {
    width: 44px;
    height: 44px;
    background: rgba(123, 0, 175, 0.9);
    border: 1px solid darkviolet;
    margin: 2px;
    box-shadow: 0 0 7px darkviolet;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-switcher-hidden {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.theme-switcher-hidden-aero {
    width: 20px;
    height: 44px;
}