* {
    font-family: Arial;
    color: #1e293b;
    text-shadow: 0 0 5px #72cbff;
    text-align: center;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    background: url("images/background.jpg");
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    width: 100vw;
    min-height: 100vh;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 50%;
    min-height: 100vh;
    padding-bottom: 10vh;
}

.card {
    /*background: #65eebe;*/
    background: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 2% 5%;
    padding: 10px;
    border-radius: 50px;
    
    box-shadow: 0 0 50px #72cbff;
}

.citation {
    font-style: oblique;
}

img {
    width: 250px;
    border-radius: 100%;
}

hr {
    width: 100%;
}

p {
    display: inline;
}

.social {
    display: flex;
    
    height: 55px;
}

.social-icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    width: 50px;
    height: 50px;
    
    margin: 5px;
    
    filter: drop-shadow(0 0 1.5px #0f172a);

    font-size: 0;
    filter: invert(1) opacity(0.85);
}

.social-telegram {
    background-image: url("../images/telegram.png");
}

.social-discord {
    background-image: url("../images/discord.png");
}

.social-vk {
    background-image: url("../images/vk.png");
}

.social-github {
    background-image: url("../images/github.png");
}

.thankstext {
    color: #ffffffba;
    text-shadow: none;
}

/* DivLinks */
.divlinks {
    background: #c5f7e5;
    border: 1px solid #578675;
    padding: 5px;
    box-shadow: 0 0 7px #417a65;
    border-radius: 7px;
}
.divlinks-title {
    font-size: 125%;
}

.theme-switcher {
    width: 100px;
    height: 50px;

    background-color: #c5f7e5;
    border: 1px solid #8dc2ae;
    border-radius: 30px;
    box-shadow: 0 0 15px #72cbff;
    cursor: pointer;

    position: absolute;
    display: flex;
    flex-direction: row-reverse;

    right: 3%;
    top: 5%;
}

.theme-switcher-knob {
    width: 44px;
    height: 44px;
    background: #c5f7e5;
    border: 1px solid #578675;
    margin: 2px;
    box-shadow: 0 0 7px #417a65;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Easter Egg Section */

.easter-egg {
    width: 100vw;
    height: 100vh;
}