* {
    font-family: Arial;
    color: #ffffffb2;
    text-shadow: 0 0 5px #88c1e2;
    text-align: center;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    background: url("images/background.jpg");
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: start;

    width: 100vw;
    min-height: 100vh;
}

.window-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    user-select: none;
}

.window-title {
    margin-left: 10px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.window-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.window-button {
    width: 35px;
    height: 25px;

    background: #ffffff1a;
    border: 1px solid #ffffff17;
    border-top: none;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 120%;
}

.window-buttons > :nth-child(1) {
    border-radius:  0 0 0 7px;
}

.window-buttons > :last-child {
    background: #ff5b5b3f;
    border-radius:  0 13px 0 0;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 50%;
    min-height: 100vh;
}

.window {
    background: url("images/aero.png");
    background-position: center;
    background-size: cover;

    backdrop-filter: blur(7px);

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 14px;
    border: #ffffff3d 1px solid;

    max-width: 100vw;
    
    box-shadow: 0 0 20px #1f2a308a;
}

.card {
    margin: 2% 5%;
}

.video {
    margin-bottom: 7%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.video > iframe {
    width: 557px;
    height: 418px;
}

@media (max-width: 565px) {
    main {
        align-items: center;
        justify-content: start;
    }

    .card-container {
        min-width: 100%;
    }

    .card {
        margin: 2% 0;
    }

    .video > iframe {
        /* margin: 2% 0%; */
        width: 100vw;
        height: calc(100vw * 3 / 4);
    }
}

.card > * {
    margin-left: 10px;
    margin-right: 10px;
}

.citation {
    font-style: oblique;
}

img {
    width: 150px;
    border-radius: 100%;
}

hr {
    width: 100%;
}

p {
    display: inline;
}

.social {
    display: flex;
    
    height: 55px;
    margin-bottom: 10px;
}

.social-icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    width: 50px;
    height: 50px;
    
    margin: 5px;
    
    font-size: 0;
    filter: opacity(0.75);
}

.social-telegram {
    background-image: url("../images/telegram.png");
}

.social-discord {
    background-image: url("../images/discord.png");
}

.social-vk {
    background-image: url("../images/vk.png");
}

.social-github {
    background-image: url("../images/github.png");
}

.thankstext {
    color: #ffffffba;
    text-shadow: none;
}

/* DivLinks */
.divlinks {
    background: #79d4e488;
    background-position: center;
    background-size: cover;

    backdrop-filter: blur(7px);
    border: #ffffff3d 1px solid;
    box-shadow: 0 0 7px #1f2a308a;

    padding: 5px;
    border-radius: 7px;
}
.divlinks-title {
    font-size: 125%;
}

.theme-switcher {
    width: 120px;
    height: 50px;

    background: url("images/aero.png");
    background-position: center;
    background-size: cover;

    backdrop-filter: blur(7px);
    border: #ffffff3d 1px solid;
    box-shadow: 0 0 7px #1f2a308a;

    border-radius: 30px;

    cursor: pointer;

    position: absolute;
    display: flex;
    flex-direction: reverse;

    right: 3%;
    top: 5%;

    font-size: 0;
    z-index: 99;
}

.theme-switcher-knob {
    background: #79b4e488;
    background-position: center;
    background-size: cover;

    backdrop-filter: blur(7px);
    border: #ffffff3d 1px solid;
    box-shadow: 0 0 7px #1f2a308a;

    width: 44px;
    height: 44px;

    margin: 2px;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-switcher-hidden {
    border-radius: 100%;
    width: 35px;
    height: 44px;
}